.form-group(ng-class="related.getCSSClass(related.form.content_type)")
    label.capitalize(for='id_{{ related.name }}')
        | {{ related.caption }}
        span(ng-show="!related.blank") &nbsp;*

    select.form-control(ng-if='!related.multiple', id='id_{{related.name }}', name='{{ related.name }}',
                        ng-model='related.content', ng-required='!related.blank')
        option(ng-repeat='item in related.objects', value='{{ item.resource_uri }}') {{ item.name }} ({{ item.slug }})

    .row.form-inline.center-content(ng-if='related.multiple')
        .col-xs-5.form-group
            select.form-control(multiple, id='id_{{related.name }}_master', style='width: 100%;',
                                scrolly, load-more='related.loadMore()',
                                name='{{ related.name }}_master', ng-model='related.master',
                                ng-options='item.resource_uri as item.name for item in related.objects | cleanObjects: related.content : related.idField | orderBy: ["app_label"]')

        .col-xs-1
            button.btn.btn-link.glyphicon.glyphicon-circle-arrow-right(ng-disabled='related.rightDisabled', style='transform:scale(1.7,1.7);')
            br
            br
            button.btn.btn-link.glyphicon.glyphicon-circle-arrow-left(ng-disabled='related.leftDisabled', style='transform:scale(1.7,1.7);')

        .col-xs-5.form-group
            select.form-control(multiple, id='id_{{related.name }}', style='width: 100%;',
                                name='{{ related.name }}', ng-model='related.fakeContent',
                                ng-required='!related.blank',
                                ng-options='item.resource_uri as item.name for item in related.content | cleanObjects: related.objects : related.idField | orderBy: ["app_label"]')

    span.text-muted {{ related.helpText }}
