.form-group(ng-class="textInput.getClass(form[textInput.name])")
    label.capitalize(for='id_{{ textInput.name }}')
        | {{ textInput.caption }}
        span(ng-show="!textInput.blank") &nbsp;*

    div(ng-if='textInput.textArea')
        textarea.form-control(name='{{ textInput.name }}', id='id_{{ textInput.name }}', ng-model='textInput.content',
                              ng-required="!textInput.blank", ng-maxlength='textInput.maxLength', 
                              pattern='{{ textInput.regexValidator }}')

    div(ng-if='!textInput.textArea && textInput.type !== "number"')
        input.form-control(name='{{ textInput.name }}', id='id_{{ textInput.name }}', type='{{ textInput.type }}', ng-model='textInput.content',
                           ng-required="!textInput.blank", ng-maxlength='textInput.maxLength',
                           pattern='{{ textInput.regexValidator }}')

    div(ng-if='textInput.type === "number"')
        input.form-control(name='{{ textInput.name }}', id='id_{{ textInput.name }}', type='number', ng-model='textInput.content',
                           min='0', ng-max='{{ textInput.maxLength }}', pattern='{{ textInput.regexValidator }}',
                           ng-required='textInput.requires || !textInput.blank')

    span.text-muted {{ textInput.helpText }}
